.main-container {
    border: solid 1px #e7e7e7;
    background-color: #f8f8f8;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}
#progress-label {
    vertical-align: middle;
    position: absolute;
    height: 100%;
    color: #000;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
#go {
    width: 100%;
}
.progress {
    position: relative; 
    border: 1px solid #aaa;
    height: 70px; 
    line-height: 70px;
}
.code {
    padding: 10px;
    margin-top: 10px; 
    border-radius: 4px;
    border: 1px solid #aaa;
    background-color: rgb(240, 240, 240);
    max-height: 600px;
    min-height: 150px;
    overflow-y: scroll;                
}
#error {
    display: none;
    background-color: #ffc8c8;
    border: 1px solid #cd9696;
    border-color: #cd9696;   
    padding: 10px;
    margin-top: 10px; 
    border-radius: 4px;
    max-height: 600px;
    min-height: 150px;
    overflow-y: scroll;
}